$green-color: rgb(34, 176, 76);

.my-custom-scss-style {
  color: red;
}

body {
  &.ds {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
      "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgb(249, 249, 249);
  }
}

body,
#root,
.app-container {
  min-height: 100vh;
}

body.ds {
  .ds__header {
    height: 60px;
    // background-color: grey;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    z-index: 100;
  }

  .ds__button {
    background-color: $green-color;

    cursor: pointer;

    padding: 10px 27px;
    line-height: 1;
    //   font-weight: 600;
    text-transform: uppercase;

    text-align: center;
    border: 1px $green-color solid;
    // border-radius: 100px;
    border-radius: 4px;
    color: white;
    outline: none;
    box-shadow: 0 0 0 1px transparent, 0 2px 8px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;

    &:hover {
      box-shadow: 0 0 0 1px $green-color, 0 3px 8px 1px rgba(0, 0, 0, 0.2);
    }

    &.simple {
      background-color: white;
      color: black;
      border-color: white;

      &:hover {
        box-shadow: 0 0 0 1px white, 0 3px 8px 1px rgba(0, 0, 0, 0.2);
      }
    }

    &:disabled {
      background-color: grey;
      border-color: grey;
      box-shadow: 0 0 0 1px grey, 0 3px 8px 1px rgba(0, 0, 0, 0.2);
      &:hover {
        cursor: not-allowed;
      }
    }

    // &.is-disabled{
    //   background-color: grey;
    //   border-color: grey;
    //   box-shadow: 0 0 0 1px grey, 0 3px 8px 1px rgba(0, 0, 0, 0.2);
    //   &:hover {
    //     cursor: not-allowed;
    //   }
    // }

  //   button:not(:disabled) {
  //     cursor: pointer;
  // }
  }

  .ds__field {
    display: flex;
    flex-direction: column;
    margin-top: 14px;
  }

  .ds__input__label {
    font-size: 16px;
    line-height: 16px;
    width: 240px;
    color: black;
    margin-left: 10px;
  }

  .ds__input {
    font-size: 16px;
    line-height: 16px;
    width: 240px;
    padding: 10px 20px;
    color: black;
    border: 1px solid rgb(218, 214, 214);
    // border: 1px solid $color-black;
    border-radius: 4px;
    background-color: white;
    outline: 0;
    transition: all 0.5s ease;
    height: 50px;

    &::placeholder {
      color: black;
    }

    &:focus {
      border-color: $green-color !important;
    }

    &.has-error {
      border-color: red !important;
    }
  }

  .modal__content-container {
    .modal__dog_seeker {
      // min-width: 100%;

      // @media (min-width: 768px) {
      //   min-width: 500px;
      // }
      .dog_seeker_image {
        min-width: 100%;

      @media (min-width: 768px) {
        min-width: 500px;
      }
      }
    }

    .content__wrapper {
    }
    .content__actions {
      display: flex;
      justify-content: flex-end;

      .ds__button {
        display: flex;
        margin: 4px;
      }
    }
    .content__wrapper,
    .content__actions {
      margin-top: 40px;
    }
  }
}

.app-container {
  display: flex;
  flex-direction: row;
  aside {
    display: flex;
    width: 250px;
    background-color: yellow;
  }
  main {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: rgb(240, 240, 240);

    .app__content {
      padding-top: 20px;

      .content__actions {
        padding: 20px 0;
      }

      .dog-names-list__container {
        ul {
          list-style-type: none;
          .dog-list-item {
            padding: 10px;
            box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.1);
            border-radius: 4px;
            margin: 4px 0;
            cursor: pointer;

            &:hover {
              background-color: rgb(67, 214, 111);
            }

            &.selected {
              background-color: $green-color;
            }
          }
        }
      }
    }
  }
}
